@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600&family=Share+Tech&display=swap');

:root {
    font-size: 16px !important;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    --primary-color: #B45C5C;
    --secondary-color: #CEA7A9;
    --tertiary-color: #5F514F;
    --accent-color: #8F0808;
    --accent2-color: #3A3A5A;
    --warning-color: #FF9D00;
    --error-color: #FF5252;
    --success-color: #52ff55;
    --white: #ffffff;
    --black: #232323;
    --grey: #aaaaaa;

}

/*
 * Globals
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
    width: 100%;
}

*:focus {
    outline: none;
}

/* Elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label {
    font-family: 'Open Sans', sans-serif;
    word-wrap: break-word;
    text-decoration: none;
    color: var(--black);
}

html,
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*
 * Base structure
 */

body {
    background-color: #F8F9FD;
}

/*
 * Header
 */

/* Header */

nav {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 72px;
    padding: 2.5vw 3vw;
    box-sizing: border-box;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08);
    position: -webkit-sticky;
    z-index: 0;
    background-color: var(--white);
    color: var(--black);
    font-family: 'Open Sans', sans-serif;

}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 2vh;
}

li {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 10px;
    width: auto;
}

a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 10px;
    color: var(--black);
}

.navbar-brand {
    font-weight: 600;
}

a.nav-link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 10px;
    color: var(--black);
    transition: transform 0.2s ease;
}

a.nav-link:active {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    transform: scaleX(0);
}

a.nav-link:hover {
    transform: translateY(-0.1px);
}

a.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--black);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.2s ease;
}

a.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: bottom right;
}

/* 
*Hero 
*/

/* body {
    background-image: url('../img/background-hero.png');
    background-repeat: no-repeat;
    background-size: cover;
} */

body {
    background-image: url('../img/background-hero.png');
    background-size: cover;
    background-position: center;
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: left;
    padding: 0 20vh;
}

.left-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    padding: 0 30px;
}

.right-hero {
    flex: 1;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 1.5em;
}

.search-item {
    display: flex;
    flex-direction: column;
}

form button[type="submit"],
.btn-primary {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 16px;

}

form input[type="submit"]:hover,
.btn-primary:hover {
    background-color: var(--accent2-color);
}